/*
#########################
Global
#########################
*/

body {
    background-color: blanchedalmond;
}

h1 {
    margin-top: 2;
    text-transform: capitalize;
}

h2 {
    margin-top: 3rem;
    font-style: italic;
    text-transform: capitalize;
}

.linked-to {
    text-decoration: none;
    font-style: italic;
}

.logo {
    margin-left: 3rem;
}

.logo:hover, .nav-links a:hover, .linked-to:hover {
    color: black;
}

.logo-link {
    font-size: large;
    font-style: italic;
    color: gray;
    text-decoration: none;
    text-align: center;
}

.page-nav {
    margin-right: 0.6rem;
}

.nav-links {
    text-transform: capitalize;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
}

.nav-links a {
    text-decoration: none;
    text-align: center;
    color: gray;
    font-size: large;
    font-style: italic;
}

.socials-img {
    height: 20px;
    width: 20px;
    margin: 0 0.5rem;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.footer-container {
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

/*
#########################
Home page
#########################
*/
.paragraph {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: large;
    line-height: 1.75;
}

.nav-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.body-container {
    width: 100%;
}

.background-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    display: block;
    object-fit: cover; 
    border-radius: 2rem;
}

.background-img:nth-child(2) {
    height: 80%;
    width: 70%;
}

@media screen and (min-width:1000px){
    .body-container {
        width: 80%;
        margin: 0 8rem;
        border-left: 3px solid gray;
        border-right: 3px solid gray;
    }
    .background-img {
        width: 50%;
        display: block;
        object-fit: cover ;
        border-radius: 2rem;
    }
    .center-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .paragraph{
        text-align: center;
    }
    h1, h2, .paragraph {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    
}
