/*
#########################
Global
#########################
*/

body {
    background-color: blanchedalmond;
}

h1 {
    margin-top: 2;
    text-transform: capitalize;
    text-align: center;
    font-style: italic;
}

h2, h3 {
    margin-top: 3rem;
    font-style: italic;
    text-transform: capitalize;
}

.linked-to {
    text-decoration: none;
    font-style: italic;
}

.logo {
    margin-left: 3rem;
}

.logo:hover, .nav-links a:hover, .linked-to:hover {
    color: black;
}

.logo-link {
    font-size: large;
    font-style: italic;
    color: gray;
    text-decoration: none;
    text-align: center;
}

.page-nav {
    margin-right: 0.6rem;
}

.nav-links {
    text-transform: capitalize;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
}

.nav-links a {
    text-decoration: none;
    text-align: center;
    color: gray;
    font-size: large;
    font-style: italic;
}

.socials-img {
    height: 20px;
    width: 20px;
    margin: 0 0.5rem;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paragraph {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: large;
    line-height: 1.75;
    margin: 0.5 0.8rem;
}


.title {
    padding-bottom: 2rem;
}


.footer-container {
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

/*
#########################
Home page
#########################
*/


.nav-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.body-container {
    width: 100%;
}

.background-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    display: block;
    object-fit: cover; 
    border-radius: 2rem;
}

.background-img:nth-child(2) {
    height: 80%;
    width: 70%;
}

@media screen and (min-width:1000px){
    .body-container {
        width: 80%;
        margin: 0 8rem;
        border-left: 3px solid gray;
        border-right: 3px solid gray;
    }
    .background-img {
        width: 50%;
        display: block;
        object-fit: cover ;
        border-radius: 2rem;
    }
    .center-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .paragraph{
        text-align: center;
    }
    h1, h2, .paragraph {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}


/*
#########################
Top 10 Artist page
#########################
*/

.artist-img {
    border-radius: 2rem;
    border: 5px solid gray;
    height: auto;
    width: 70%;
    align-items: center;
}

.artist-name, .paragraph {
    text-align: center;
}


.center-artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artist-links {
    display: flex;
    justify-content: space-around;
    border-radius: 1.5rem;
}

.spotify, .apple{
   margin-top: 0.5rem;
   height: 50px;
   width: 50px;
}
 .apple {
    margin-left: 2rem;
 }
 
 .spotify {
    margin-right: 2rem;
 }



@media screen and (min-width:1000px){
    .artist-links {
        display: flex;
        flex-direction: column;
    }
    .apple, .spotify {
        margin-left: 0;
        margin-right: 0;
        height: 30px;
        width: 30px;
    }

   .artist-img {
    border: 1px solid gray;
    margin-bottom: 1rem;
    height: auto;
    width: 300px; 
   }
   .lady-donli, .show-dem-camp, .amaarae, .jonny-drille, .odunsi{
    margin-left: 2rem;
    flex-direction: row;
   }
   
   .maison-2500, .ragz-originale, .tems, .benji-flow, .santino {
    margin-right: 2rem;
    flex-direction: row-reverse;
   }

   .jonny-drille > h3,
   .benji-flow > h3 {
        margin-bottom: -0.5rem;
   }

   .ragz-originale > h3, .odunsi > h3 {
    margin-bottom: -5rem;
   }

   .artist-name {
    margin-bottom: -0.5rem;
   }
}

/*
#########################
Album page
#########################
*/
.album-name {
    margin-top: 10rem;
}

.album-name, .iden {
    text-align: center;
}

.artist-links-album-page {
    text-align: center;
}

.album-cover {
    height: auto;
    width: 60%;
    border-radius: 50%;
    margin-left: 20%;
    border: 5px solid darkslategrey;
}

@media screen and (min-width:1000px){
 .album-cover {
    border-radius: 10%;
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 35%;
 }

 .artist-links-album-page {
    display: flex;
    justify-content: space-around;
    margin-top: -5rem;
    margin-bottom: 5rem;
 }

 .album-name{
    margin-top: 5rem;
 }

}
