/*
#########################
Global
#########################
*/

body {
    background-color: blanchedalmond;
}

h1 {
    margin-top: 0;
    text-transform: capitalize;
}

h2 {
    margin-top: 3rem;
    font-style: italic;
    text-transform: capitalize;
}

.linked-to {
    text-decoration: none;
    font-style: italic;
}

.logo {
    margin-left: 3rem;
}

.logo:hover, .nav-links a:hover, .linked-to:hover {
    color: black;
}

.logo-link {
    font-size: large;
    font-style: italic;
    color: gray;
    text-decoration: none;
    text-align: center;
}

.page-nav {
    margin-right: 0.6rem;
}

.nav-links {
    text-transform: capitalize;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
}

.nav-links a {
    text-decoration: none;
    text-align: center;
    color: gray;
    font-size: large;
    font-style: italic;
}

.socials-img {
    height: 20px;
    width: 20px;
    margin: 0 0.5rem;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.footer-container {
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

/*
#########################
Home page
#########################
*/
.paragraph {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: large;
    line-height: 1.75;
}

.nav-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.body-container {
    width: 100%;
}

.background-img {
    width: 100%;
    display: block;
    object-fit: cover; 
    border-radius: 2rem;
}
